/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.dummy-stream-empty,
.dummy-stream {
  @apply bg-[color:var(--stream-bg)] h-full w-full;
}
.dummy-stream-empty .dummy-stream-banner,
.dummy-stream .dummy-stream-banner {
  @apply w-full text-center;
}
.dummy-stream-empty .dummy-stream-banner img,
.dummy-stream .dummy-stream-banner img {
  @apply w-full max-h-[700px];
}
.dummy-stream-empty .dummy-stream-panel,
.dummy-stream .dummy-stream-panel {
  @apply box-border rounded h-32 bg-[color:var(--stream-panel-bg)] flex flex-row m-4 p-4;
}
.dummy-stream-empty .dummy-stream-panel .dummy-stream-panel__right,
.dummy-stream .dummy-stream-panel .dummy-stream-panel__right {
  @apply ml-4;
}
.dummy-stream-empty .dummy-stream-panel .stream-name,
.dummy-stream .dummy-stream-panel .stream-name {
  @apply flex items-center;
}
.dummy-stream-empty .dummy-stream-panel .live-badge,
.dummy-stream .dummy-stream-panel .live-badge {
  @apply rounded bg-[red] text-[white] w-10 text-center text-xs font-[bold] inline-block;
}
.dummy-stream-empty .dummy-stream-panel .channel-name,
.dummy-stream .dummy-stream-panel .channel-name {
  @apply inline-block text-xl font-semibold not-italic leading-[1.4] tracking-[-0.2px] text-[color:var(--gray-0)] ml-4;
  font-stretch: normal;
}
.dummy-stream-empty .dummy-stream-panel .stream-meta,
.dummy-stream .dummy-stream-panel .stream-meta {
  @apply text-sm font-[normal] not-italic leading-[1.43] tracking-[normal] text-center text-[color:var(--gray-2)] mt-0.5 mb-[19px] mx-0;
  font-stretch: normal;
}
.dummy-stream-empty .dummy-stream-panel .stream-creator,
.dummy-stream .dummy-stream-panel .stream-creator {
  @apply flex flex-row mt-6;
}
.dummy-stream-empty .dummy-stream-panel .stream-creator-tags,
.dummy-stream .dummy-stream-panel .stream-creator-tags {
  @apply flex flex-row ml-2;
}
.dummy-stream-empty .dummy-stream-panel .tag,
.dummy-stream .dummy-stream-panel .tag {
  @apply text-sm font-semibold not-italic leading-[1.43] tracking-[normal] text-[color:var(--gray-2)] bg-[color:var(--stream-tag-bg)] mr-1 px-2 py-0.5 rounded-xl;
  font-stretch: normal;
}
.dummy-stream-empty .dummy-stream-panel .stream-creator-name,
.dummy-stream .dummy-stream-panel .stream-creator-name {
  @apply inline-block font-semibold not-italic leading-[1.43] tracking-[normal] text-[color:var(--gray-0)];
  font-stretch: normal;
}
.dummy-stream-empty .channel-avatar-large,
.dummy-stream .channel-avatar-large {
  @apply h-14 w-14;
}
.dummy-stream-empty .channel-avatar-large img,
.dummy-stream .channel-avatar-large img {
  @apply h-full w-full rounded-[50%];
}
