/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.channel-preview {
  @apply relative cursor-pointer w-[264px] h-12 box-border flex flex-row border-b-[color:var(--gray-1)] text-[color:var(--gray-0)] border-b border-solid hover:bg-[color:var(--preview-hover)];
}
.channel-preview.channel-preview--streaming .channel-preview__inner-right {
  @apply pl-0 pt-0;
}
.channel-preview.channel-preview--streaming .channel-preview__name,
.channel-preview.channel-preview--streaming .channel-preview__creator-name {
  @apply whitespace-nowrap overflow-hidden text-ellipsis w-[140px] left-1;
}
.channel-preview.channel-preview--streaming .channel-preview__name {
  @apply absolute top-2;
}
.channel-preview.channel-preview--streaming .channel-preview__creator-name {
  @apply absolute text-sm font-[normal] not-italic leading-[1.43] tracking-[normal] text-[color:var(--selected-sub-text)] top-[22px];
  font-stretch: normal;
}
.channel-preview.channel-preview--streaming .channel-preview__count {
  @apply absolute flex flex-row right-[22px] top-3;
}
.channel-preview.channel-preview--streaming .channel-preview__count-icon {
  @apply w-2.5 h-2.5 bg-[red] rounded-[50%];
}
.channel-preview.channel-preview--streaming .channel-preview__count-text {
  @apply text-xs font-[normal] not-italic leading-none tracking-[normal] text-[color:var(--gray-0)] ml-1;
  font-stretch: normal;
}
.channel-preview.channel-preview--selected {
  @apply bg-[color:var(--selected-bg-0)] text-[color:var(--selected-text-0)];
}
.channel-preview.channel-preview--selected .channel-preview__selection {
  @apply inline-block;
}
.channel-preview .channel-preview__selection {
  @apply hidden absolute h-full w-1 bg-[#9e8cf5] left-0 top-0;
}
.channel-preview .channel-preview__avatar {
  @apply h-8 w-8;
}
.channel-preview .channel-preview__avatar img {
  @apply h-full w-full rounded-[50%];
}
.channel-preview .channel-preview__name {
  @apply whitespace-nowrap overflow-hidden text-ellipsis w-[210px] text-sm font-semibold not-italic leading-[1.14] tracking-[-0.2px];
  font-stretch: normal;
}
.channel-preview .channel-preview__inner-left {
  @apply relative box-border pl-3 pt-2;
}
.channel-preview .channel-preview__inner-right {
  @apply relative w-[230px] box-border pl-3 pt-4;
}
